@{
    Layout = null;
}
<link href="~/layui-v2.6.8/layui/css/layui.css" rel="stylesheet" />
<table class="layui-hide" id="tbWmsPord" lay-filter="WmsProd"></table>

<script src="~/layui-v2.6.8/layui/layui.js"></script>

<script>
layui.use('table', function(){
  var table = layui.table;

  //方法级渲染
  table.render({
      elem: '#tbWmsPord'
      , url: '@Url.Action("GetWmsProdData", "WMS")'
      , cols: [[
         { field: 'ProdNo', title: '料號', width: 250, sort: true }
        , { field: 'ProdName', title: '物料描述', width: 350, sort: true }
    ]]
      , id: 'tbWmsPord'
      , page: true
      , limit: 15
      , limits:[15,20,25,30]
      , curr:1
      , height: 'full'
      
  });
;


});
</script>

